@charset "UTF-8";
/* CSS Document */

h1
{
    z-index:100;
    position:absolute;    
    font-size:72px;
    font-weight:bold;
    left:150px;
	color:#00C9C0;
    top:350px;
}

#photoShow {
    width:1920px;
    height:1080px;
}
#photoShow div {
	position:absolute;
    z-index: 0;
}
#photoShow div.previous {
    z-index: 1;
}
#photoShow div.current {
    z-index: 2;
}
    .gallery {
        width: 1920px;
        height: 1080px;
        margin-bottom: 0px;
    }
	